*, html{
    margin: 0;
}
.main{
    background-color: #00ff87;
    text-align: center;
    /* font-family: 'Raleway', sans-serif; */
font-family: 'Staatliches', cursive;
}
#logo{
    display: block;
    width: 400px;
    margin: 0 auto;
}
.title{
    padding: 15px;
    font-size: 3rem;
    color: #38003d;
}
.page-content{
    display: flex;
}
.right-col{
    position:absolute;
    right: 0;
    width: 40%;
    border-left:solid 3px #38003d;
}
.left-col{
    position:absolute;
    left: 0;
    width: 60%;
}


/* Matches Table */
.table{
    width: 100%;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    background-color: #38003d;
    color: #00ff87;
}
#scores-table{
    width: 100%;
}
#scores-table th{
    padding: 1%;
    border-bottom: 2px solid #00ff87;
}
#scores-table td{
    text-align: center;
    padding: 1%;
}

.buttons{
    display: grid;
    position: absolute;
    top: 150px;
    left: -49px;
}