*,
html {
  margin: 0;
  scroll-behavior: smooth;
}
body{
  background-color: #00ff87;
}
.main {
  background-color: #00ff87;
  text-align: center;
  /* font-family: 'Raleway', sans-serif; */
  font-family: "Staatliches", cursive;
}
#logo {
  display: block;
  width: 400px;
  margin: 0 auto;
}
.title {
  padding: 15px;
  font-size: 3rem;
  color: #38003d;
}
.page-content {
  display: flex;
  height: 500px;
}
.right-col {
  position: absolute;
  right: 0;
  width: 40%;
  border-left: solid 3px #38003d;
}
.left-col {
  position: absolute;
  left: 0;
  width: 60%;
}

.left-col-header {
  background-color: #38003d;
  color: #00ff87;
  text-align: center;
  padding: 1%;
}

.news-buttons {
  display: flex;
  justify-content: space-evenly;
}

/* Tables */
.table {
  width: 100%;
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
  background-color: #38003d;
  color: #00ff87;
}
#scores-table {
  width: 100%;
}
#scores-table th {
  padding: 1%;
  border-bottom: 2px solid #00ff87;
  animation: 2s ease-out 0s 1 slideInFromRight;
}
#scores-table td {
  text-align: center;
  padding: 1%;
  animation: 2s ease-out 0s 1 slideInFromRight;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0.25;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.header{
  background-color: #00ff87;
  color: #38003d;
  text-align: center;
  padding: 1.5%;
  font-family: "Staatliches", cursive;
}

.matches{
  margin-top: 1%;
}

/*news */
.new-card {
  display: flex;
  background-color: #00ff87;
  color: #38003d;
  padding: 1%;
  animation: 2s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0.25;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.new-img {
  width: 250px;
  border-radius: 10px;
  border: 2px solid #00ff87;
}

.new-content {
  margin-left: 15px;
  font-family: "Raleway", sans-serif;
  position: relative;
}

.new-content > a {
  color: black;
  text-decoration: none;
}

.dm-img {
  width: 125px;
}

/* news buttons */
.news-btn {
  color: #00ff87;
  font-size: 1rem;
  border: 2px solid #38003d;
  box-shadow: 0 4px 8px 0 #38003d, 0 6px 20px 0 #38003d;
  transition: 1s;
  padding: 1%;
  font-family: "Raleway", sans-serif;
  min-width: 50px;

  background-size: 200% 100%;
    background-image: linear-gradient(to right, #38003d 50%, #00ff87 50%);
    transition: background-position 0.2s linear, color 1s linear;
}

.news-btn:hover{
  background-position: -100% 0;
  color: #38003d;
}

.active{
  background-color: #00ff87;
  color: #38003d;
  font-size: 1rem;
  border: 2px solid #00ff87;
  box-shadow: 0 4px 8px 0 #38003d, 0 6px 20px 0 #38003d;
  transition: 1s;
  padding: 1%;
  font-family: "Raleway", sans-serif;
  min-width: 50px;
} 

.responsive-tables{
  display: none;
}

h2:hover{
  text-decoration: underline;
}

/* mobile phones */
@media only screen and (max-width: 768px) {
  .right-col{
    display: none;
  }
  .left-col{
    width: 100%;
  }

  .responsive-tables{
    display: block;
    z-index: 10;
    position: fixed;
    bottom: 0%;
    width: 100%;
  }
  .responsive-button{
    position: relative;
    left: 45%;
  }
  .responsive-content{
    display: flex;
    width: 100%;
    background-color: #00ff87;
    justify-content: space-evenly;
  }

  .responsive-content-hidden{
    display: none;
  }

  .table {
    font-size: 1rem;
  }

  .new-img {
    width: 200px;
  }
  h2, h3{
    font-size: 1rem;
  }
}