*,
html {
  margin: 0;
  scroll-behavior: smooth;
}
.main {
  background-color: #00ff87;
  text-align: center;
  /* font-family: 'Raleway', sans-serif; */
  font-family: "Staatliches", cursive;
}
#logo {
  display: block;
  width: 400px;
  margin: 0 auto;
}
.title {
  padding: 15px;
  font-size: 3rem;
  color: #38003d;
}
.page-content {
  display: flex;
}
.right-col {
  position: absolute;
  right: 0;
  width: 40%;
  border-left: solid 3px #38003d;
}
.left-col {
  position: absolute;
  left: 0;
  width: 60%;
}

.left-col-header{
  background-color: #38003d;
  color: #00ff87;
  text-align: center;
  padding: 1%;
}

.news-buttons{
  display: flex;
  justify-content: space-evenly;
}

/* Matches Table */
.table {
  width: 100%;
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
  background-color: #38003d;
  color: #00ff87;
}
#scores-table {
  width: 100%;
}
#scores-table th {
  padding: 1%;
  border-bottom: 2px solid #00ff87;
  animation: 2s ease-out 0s 1 slideInFromRight;
}
#scores-table td {
  text-align: center;
  padding: 1%;
  animation: 2s ease-out 0s 1 slideInFromRight;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0.25;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.buttons{
  background-color: #00ff87;
  padding: 0  0 2% 0;
  text-align: center;
}
.btn {
  background-color: #00ff87;
  color: #38003d;
  font-size: 1.5rem;
  border: 2px solid #38003d;
  box-shadow: 0 4px 8px 0 #38003d, 0 6px 20px 0 #38003d;
  transition: 1s;
  padding: 1%;
  font-family: 'Raleway', sans-serif;
}
.btn:hover{
  background-color: #38003d;
  color: #00ff87;
  border-radius: 15px;
}

/*news */
.new-card{
  display: flex;
  background-color: #00ff87;
  color: #38003d;
  padding: 1%;
}

.new-img{
  width: 250px;
  border-radius: 10px;
  border: 2px solid #00ff87;
}

.new-content{
  margin-left: 15px;
  font-family: 'Raleway', sans-serif;
  position: relative;
}

.new-content > a{
  color: black;
  text-decoration: none;
}

